<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAV-30G6QlBW2S_mlAw1wm-h79K6dCK6e0</string>
	<key>GCM_SENDER_ID</key>
	<string>1015744330555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallproject</string>
	<key>PROJECT_ID</key>
	<string>wallproject-59915</string>
	<key>STORAGE_BUCKET</key>
	<string>wallproject-59915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015744330555:ios:9f2631125b3b7d4263d51e</string>
</dict>
</plist>